#heroDivId img {
    width: 200px;
    border-radius: 10px;
    height: 150px;
    
}

.heroDivIdOfApp{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}

.heroSpan{
   font-weight: lighter; 
}

#heroDivId{
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    padding: 1px;
    box-shadow: 5px 5px 10px 5px;
    width: 200px;
    height: 250px;
}

#heroDivId h3{
    font-size: 10px;
}

#headrDivId h3{
    padding-bottom: 45px;
}

#timer{
    display: flex;
    justify-content: center;
    align-items: center;
}

